<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <title>program＜Ship＞アーカイブ</title>
</head>

<body margin="0">
    <div class="archive-header">
        <h1>Program < Ship > Archive</h1>
    </div>
    <div class="archive-container">
        <div class="archive-menu">
            <span class="acdn">＜Ship＞ Ⅰ</span>
            <div id="ship">
                <div class="ship-box">
                    <!-- 参加者レポート・公開シェア -->
                    <span class="acdn2">藤井祐希</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/yukifujii/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/yukifujiishare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/yukifujiiws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">藤村昇太郎</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/shotarofujimura/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/shotarofujimurashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/shotarofujimuraws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">日下七海</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/nanamikusaka/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/nanamikusakashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/nanamikusakaws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">本田椋</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/ryohonda/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/ryohondashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/ryohondaws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">坂東芙三次</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/fumijibandoh/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/fumijibandohshare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/fumijibandohws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                </div>

                <div class="ship-box">
                    <!-- ワークショップ -->
                    <span class="acdn2">ワークショップレポート</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/ship1ws1/index.html">弓井茉奈・担当回
                            </a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/ship1ws2/index.html">小濱昭博・担当回</a>
                        </p>
                    </div>
                </div>

                <div class="ship-box">
                    <!-- 関連イベント -->
                    <span class="acdn2">関連イベント</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/ship1event1/index.html">みなとの世界文学</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship1/ship1event2/index.html">若葉町フラヌール</a>
                        </p>
                    </div>
                </div>
            </div>

            <span class="acdn">＜Ship＞ Ⅱ</span>
            <div id="ship">
                <div class="ship-box">
                    <!-- 参加者レポート・公開シェア -->
                    <span class="acdn2">前田愛美</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/manamimaeda/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/manamimaedashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/manamimaedaws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">内山茜</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/akaneuchiyama/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/akaneuchiyamashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/akaneuchiyamaws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">小濱昭博</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/akihirokohama/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/akihirokohamashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/akihirokohamaws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">鶴坂奈央</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/naotsurusaka/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/naotsurusakashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/naotsurusakaws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">寺越隆喜</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/takakiterakoshi/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/takakiterakoshishare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/takakiterakoshiws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                </div>

                <div class="ship-box">
                    <!-- ワークショップ -->
                    <span class="acdn2">ワークショップレポート</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/ship2ws1/index.html">坂東芙三次・担当回</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/ship2ws2/index/index.html">弓井茉那・担当回</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship2/ship2ws3/index/index.html">利き水・選書紹介</a>
                        </p>
                    </div>
                </div>

            </div>

            <span class="acdn">＜Ship＞ Ⅲ</span>
            <div id="ship">
                <div class="ship-box">
                    <!-- 参加者レポート・公開シェア -->
                    <span class="acdn2">小林玉季</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/tamakikobayashi/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/tamakikobayashishare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/tamakikobayashiws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">キサラカツユキ</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/katsuyukikisara/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/katsuyukikisarashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/katsuyukikisaraws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">牧凌平</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ryoheimaki/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ryoheimakishare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ryoheimakiws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                    <span class="acdn2">依田玲奈</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/reinayoda/index.html">参加者レポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/reinayodashare/index.html">公開シェアレポート</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/reinayodaws/index.html">私にとっての演劇レポート</a>
                        </p>
                    </div>
                </div>

                <div class="ship-box">
                    <!-- ワークショップ -->
                    <span class="acdn2">ワークショップレポート</span>
                    <div id="ship">
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ship3ws1/index.html">立山夏本・担当回</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ship3ws2/index.html">坂東芙三次・担当回</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ship3ws3/index.html">飛田ニケ 宮崎玲奈・担当回</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ship3ws4/index.html">日下七海・担当回</a>
                        </p>
                        
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ship3ws5/index.html">選書紹介・利き服</a>
                        </p>
                        <p>
                            <a href="{{ .Site.BaseURL }}ship3/ship3ws6/index.html">訊き服・聴き服</a>
                        </p>
                    </div>
                </div>
            </div>
            <span class="acdn">鎌倉ソロレジデンス</span>
            <!-- 鎌倉ソロレジデンス -->
            <div id="ship">
                <p>
                    <a href="{{ .Site.BaseURL }}residence1/yukifujii/index.html">藤井祐希の言葉</a>
                </p>
                <p>
                    <a href="{{ .Site.BaseURL }}residence1/yukifujiishare/index.html">公開シェアレポート</a>
                </p>
            </div>
            <span class="acdn">参加者のその後</span>
            <!-- 参加者のその後 -->
            <div id="ship">
                <p>
                    <a href="{{ .Site.BaseURL }}article/post1/index.html">藤村昇太郎の現在地</a>
                </p>
                <p>
                    <a href="{{ .Site.BaseURL }}article/post2/index.html">本田椋の現在地</a>
                </p>
            </div>
        </div>
