        </div>
            <div class="footer">
                <div class="snsicon">
                    <ul>
                        <li><a href="https://twitter.com/ship_program?lang=ja"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/n.programship/"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/n.programship/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC1aO12jNp-JirmsKHlCfZdw/"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <footer>©次なる舞台俳優のためのプログラム〈Ship〉実行委員会</footer>
            </div>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/js/ship.js"></script>
</body>

</html>