<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/slick.css">
    <link rel="stylesheet" type="text/css"href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">

    <title>次なる舞台俳優のためのプログラム＜Ship＞</title>
</head>

<body marginwidth="0">
    <div class="background"><video src="data/ship-bg.mp4" autoplay loop muted></video></div>
    <div class="header" id="top">
        <div class="snsicon">
            <ul>
                <li><a href="https://twitter.com/ship_program?lang=ja"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/n.programship/"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/n.programship/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC1aO12jNp-JirmsKHlCfZdw/"><i
                            class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
   