{{ partial "header.html" .}}
<div class="container">
    <div class="main">
        <div class="navi">
            <ul>
                <li><a href="#ship">What's < Ship >?</a></li>
                <li><a href="#concept">Concept</a></li>
                <li><a href="/archive/index.html" target="_blank">Archives</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="slide">
            <div class="photo"><img src="slideshow/katsuyukikisara.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship3/katsuyukikisara/index.html">キサラカツユキの言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/reinayoda.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship3/reinayoda/index.html">依田玲奈の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/akaneuchiyama.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship2/akaneuchiyama/index.html">内山茜の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/akihirokohama.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship2/akihirokohama/index.html">小濱昭博の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/manamimaeda.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship2/manamiamaeda/index.html">前田愛美の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/tamakikobayashi.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship3/tamakikobayashi/index.html">小林玉季の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/nanamikusaka.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship1/nanamikusaka/index.html">日下七海の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/shotarofujimura.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship1/shotarofujimura/index.html">藤村昇太郎の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/yukifujii.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship1/yukifujii/index.html">藤井祐希の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/fumijibandoh.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship1/fumijibandoh/index.html">坂東芙三次の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/takakiterakoshi.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship2/takakiterakoshi/index.html">寺越隆喜の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/naotsurusaka.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship2/naotsurusaka/index.html">鶴坂奈央の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/ryohonda.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship1/ryohonda/index.html">本田椋の言葉</a></p>
            </div>
            <div class="photo"><img src="slideshow/ryoheimaki.jpg">
                <p class="slide-caption"><a href="{{ .Site.BaseURL }}ship3/ryoheimaki/index.html">牧凌平の言葉</a></p>
            </div>
        </div>
        <article>
            <h3 id="ship">What's < Ship >?</h3>
            <p>　「次なる舞台俳優のための育成プログラム〈Ship〉」は、若葉町WHARFの施設を使った滞在制作・WS・作品発表・イベントをおこなう合宿型育成プログラムです。</p>
            <p>　S(self-build)・H(horizon)・I(introduction)・P(program)の略称である〈Ship〉は、全国各地から集まった参加メンバーがそれぞれにとっての演劇のカタチを示しあい、そこから次世代の俳優が担う役割や機能の可能性について検証し、そのプロセスや考え方を紹介していくことを目的としています。
            </p>
            <div class="backbutton">
                <div align="right"><a href="#top">▲TOP</a></div>
            </div>
        </article>
        <article>
            <h3 id="concept">Concept</h3>
            <p>　作品発表を主目的とせず、個人の特性と演劇性を尊重しながら対話や交流を重ねていくという、ちょっと変わった合宿型育成プログラム〈Ship〉。
                暗中模索の第一回を終えてあらためて感じるのは、まだまだ日本の演劇状況では、俳優と観客の
                関係が作品ありきになっており、双方が出会う機会そのものが限定的で柔軟性を欠いているという点です。また俳優同士でも創作現場や講師ありきのWSで技術論や意見を交わす程度にとどま
                っており、あるいは居酒屋談義に花咲かせる程度のクローズなものが大概です。あったとしても、
                地域の公共劇場や学校公演、教育現場への派遣事業などに携わっている、ごく一部の俳優にしか
                それに類する機会が開かれていない。劇作家や演出家、もしくは演劇作家でもいいんですがこう
                した存在から離れて、俳優自身が作品づくりの事情に煩わされずにフラットな関係で〈演劇〉を
                考え、伝えあうことのできる〈場〉がオープンなところに設けられていないんですね。じゃあそういう〈場〉を期間限定で作ってしまおうというのが発端でした。
                　そもそも俳優の言説は、批評や評論の対象外にあることが多く、観客にとっても俳優たちの中に
                蓄積された〈演劇のカタチ〉や〈演劇を通じて価値観や人生に影響したこと〉に正面から向き合
                える機会が少ないのが現状です。第一回目の公開シェアのあと来場者が口々に「俳優さんたちが
                こんなことを感じたり考えながら舞台に立っているとは知らなかった！」と驚いていました。結
                局のところ、観客ないしは日本の社会において「俳優それぞれが人生を賭けて伝えようとしてい
                ること」は、見失われたままになっているのではないでしょうか。文学イベントを主宰した工藤さんの〈語りだす読者〉にあやかるならば、〈語りだす俳優〉を支える〈場〉が無いのです。</p>
            <p>　こうした状況に対し、俳優たちの言葉や彼／彼女たちが見つけた演劇のカタチを地道に拾いあげ
                てオープンにする仕掛けを設けていく以外には、観客との新たな関係の形成や劇場の在り方の問
                い直しもうまくいかないでしょうし、なによりもクリエイティヴな稽古場やその成果としての舞
                台作品を生みだしたり、演劇性の発明的な転用も息長くは機能していかないのではないか。ある
                いは昨年末の各業界におけるハラスメント問題をはじめ、時折話題にあがる劇作家や演出家との
                主導権争いや上演における創作主体に関する問題も前には進まないし、人権意識に則した新たな
                理論やシステムや発想が登場しても創作現場だけに限ったアプローチでは返って権力関係を見 えにくくするための概念操作に加担することになる、と私は考えます。
                <p>　私たちが生きる時代から噴出している無数の問いを潜り抜けて生まれるのが現代演劇・舞台藝術
                    であるとするならば、可能なかぎり多くの問いを抱え込んで吟味できる〈場〉、とりわけ興行的
                    な事情に急かされないで各々が自立したまま向き合えるプラットホームが、いま必要ではないで
                    しょうか。何気なく現場で使っている語彙から洗い直さないといけないし、拾いあげた言葉を支
                    え合って伝えていかないと、次第に現在地すらもわからなくなってしまう気がしています。何よ
                    り俳優それぞれが持つ「私にとっての〈演劇〉」との共存可能性はあるのか、ないのか。技術の
                    研鑽すらも目的としていないことも沢山あります。そんなわけで、合宿中に噴出する問いは山盛りです</p>
                <div class="backbutton">
                    <div align="right"><a href="#top">▲TOP</a></div>
                </div>
        </article>
        <article>
            <h3 id="contact">Contact</h3>
            <p>
                <center>n.programship@gmail.com</center>
            </p>
            <div class="backbutton">
                <div align="right"><a href="#top">▲TOP</a></div>
            </div>
        </article>
        {{ partial "footer.html" .}}